<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>707815671469-htfu7v3l3cic80chvv2939qolq2otg46.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.707815671469-htfu7v3l3cic80chvv2939qolq2otg46</string>
	<key>API_KEY</key>
	<string>AIzaSyBtPeIxWsp39Sf6Cn24WrhZtV1qJNyVRGU</string>
	<key>GCM_SENDER_ID</key>
	<string>707815671469</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dnk.triz</string>
	<key>PROJECT_ID</key>
	<string>scholar-clone</string>
	<key>STORAGE_BUCKET</key>
	<string>scholar-clone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:707815671469:ios:f4d5d03f21d3c5a7e8e824</string>
</dict>
</plist>